<h1>{{ user.bio }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'posts:vote' user.id %}" method="post">
{% csrf_token %}
{% for post in user.post_set.all %}
    <label>{{ post.subject }}</label><br>
    <button name="post_id" type="submit" value="{{ post.id }}" class ="btn btn-primary">Like</button><br>
{% endfor %}
</form>