{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'posts/style.css' %}">

{% if list_all_users %}

    <ul>
        {% for user in list_all_users %}
        <li><a href="{% url 'posts:detail' user.id %}">{{user.bio}}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <h3> You don't have any friends </h3>
{% endif %}