<h1>{{ user.bio }}</h1>

<ul>
{% for post in user.post_set.all %}
    <li>{{ post.subject }} -- {{ post.likes }} like{{ post.likes|pluralize }}</li>
{% endfor %}
</ul>

<a href="{% url 'posts:detail' user.id %}">Vote again?</a>
